{% extends 'base.html' %}
{% load static %}

{% block title %}About Us{% endblock %}

{% block content %}
<div class="about-container">
    <h2>About Us</h2>
    <br>
    <p class="tagline"><strong>Building Excellence, Designing the Future</strong></p>
    
    <div class="about-text">
        <p>
            Founded in 2014, <strong>Madani Development Engineering Consultancy</strong> is a 
            full-service engineering and architectural firm based in <strong>Barka, Oman.</strong> 
            We specialize in <strong>architectural planning, structural design, 3D modeling, 
            interior design, and site supervision</strong>, delivering innovative and 
            sustainable solutions tailored to our clients' needs.
        </p>
        <p>
            With a focus on <strong>quality, functionality, and aesthetic appeal</strong>, 
            we ensure that every project is designed to last. Our expert team combines 
            modern design concepts with precise engineering to create 
            spaces that are both practical and visually striking.
        </p>
        <p>
            At Al Madani Development, we are dedicated to shaping a sustainable 
            and modern infrastructure that serves communities and 
            contributes to Oman’s development.
        </p>
        <p class="motto"><strong>Your Vision, Our Expertise.</strong></p>
    </div>

    <div class="contact-info">
        <p><strong>Email:</strong> almadanidevelopment@gmail.com</p>
        <p><strong>Phone:</strong> +968 72220650</p>
        <p><strong>Location:</strong> Barka, Al Batinah, Oman</p>
        <p><strong>P.O Box:</strong> 1125</p>
        <p><strong>P.C:</strong> 320</p>
        <br>
        <p><strong>Our Office Timings:</strong></p>
        <p><strong>Friday Closed</strong></p>
        <p><strong>Saturday: </strong> 4:30 PM – 8 PM</p>
        <p><strong>Sunday to Thursday: </strong> 8 AM – 1 PM   |   4:30 PM – 8 PM</p>
        <br>
        <p> <strong>Office Location</strong></p><i class="fas fa-arrow-down"></i>
    </div>

    <div class="google-maps">
        <a href="https://www.google.com/maps?q=9SYYEJfG2KVtHB2y7&hl=en" target="_blank">
            <iframe 
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3654.155954840039!2d57.884761099999984!3d23.670380200000015!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e8dc54c031f8135%3A0x4ad31f4131041ac7!2sAl%20Madani%20Development!5e0!3m2!1sen!2som!4v1741034321741!5m2!1sen!2som" 
                width="600" 
                height="450" 
                style="border:0;" 
                allowfullscreen="" 
                loading="lazy" 
                referrerpolicy="no-referrer-when-downgrade">
            </iframe>
        </a>
    </div>
</div>
{% endblock %}
